.container {
    display: flex;
    gap: 50px;
}

/* Media query for screens below 700px */
@media (max-width: 950px) {
    .container {
        /* display: block; */
        flex-direction: column-reverse;
    }

    /* Style for the image */

}